html{
    font-size: 10px;
}
body{
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.img{
    width: 2rem;
    margin-top:0.6rem;
    margin-left: 0.3rem;
}
.colors{
    margin-right:0.1rem;
    display: inline-block;
    width:19%;
    height:30px;
    border-radius:2px;
}
#lable{
    background: deeppink;
    color: white;
    width: 50px;
    height: 25px;
    border-radius:5px ;
    margin-left: 94%;
}
#lable p{
    text-align: center;
    padding: 4px;
}
.text{
    text-align:left ;
}
.photo{
    width:100%;
    margin-top: 10px;
}
.box{
    background-color: #f2f2f2;
    height: 20%;
    margin-top: 30px;
    border-radius: 2px;
}
.avatar{
    float: left;
    width: 30%;
}


.text2{
    float: right;
    display: block;
    width: 70%;
}
.footer{
    clear: both;
    margin-top: 50px;
}
.previous{
    clear: both;
    float: left;
    margin-top: 50px;
}
.next{
    margin-top: 50px;
    float: right;
    margin-bottom: 50px;
}

.avatar img{
    border-radius: 100%;
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
}

.main-container {
    width: 60%;
    margin: auto;
    text-align: center;

}
