html{
    font-size: 10px;
}
body{
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

#lable{
    background: deeppink;
    color: white;
    width: 5rem;
    height: 2.5rem;
    border-radius:0.5rem ;
    margin-left: 94%;
}
.text{
    text-align:left ;
}
.img{
    margin: 10%;
}
#lable p{
    text-align: center;
    padding: 0.4rem;
}

.avatar{
    width: 9%;
    border-radius: 100%;
    margin-top: -50px;
    border: 0.5rem solid white;
}
.photo{
    width:100%;
    height: auto;
    margin-top: 1rem;
}

.title h4,h5 {
    color: darkgray;
}
.color{
    margin-right:1px;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
#box{
    width: 91%;
    height: 2rem;
    border: 1px solid black;
    float: right;
    margin-top: 2px;
    padding-top:3px ;
    padding-left: 10px;
}
h1{
    font-size: 50px;
}
.main-container {
    width: 60%;
    margin: auto;
    text-align: center;
}
